<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<center>    <h1>Hi <%= @user.email %></h1>
<br><br><br>    
<p><h2>
      Welcome to herokuoncaffeine.in family.
    </h2></p>
<h2><p>Your website (<%= @user.url %> )is successfully caffeinated.</p></h2>
</center>
  </body>
</html>
